<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  {% if template contains "cart" %}
    <script>window.location.href = "/?cart"</script>
  {% endif %}
  {% include "theme-meta" %}
  {% include "theme-fonts" %}
  {% include "theme-styles" %}

  <meta name="google-site-verification" content="Kk9_ZKYxDy9F2sadeABLP-MG2rGc8WrvSbvu4xDMQrg" />
  
  <!-- Google Tag Manager USer ID Push-->   
  {% if customer  %}
    <script>
      var dataLayer  = window.dataLayer || []; // this is optional row.
      dataLayer.push({
      'gtm_user_id': '{{customer.id}}',
          'CustomerEmail': '{{ customer.email }}'
      });   
    </script>    
 {% endif %}
  
  <style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',4000,
  {'GTM-TQR9X2N':true});</script>
    
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TQR9X2N');</script>
  <!-- End Google Tag Manager -->

  {% include 'theme-customer' %}
  {% include 'theme-shop' %}
  {% include 'theme-api' %}
  {% include 'theme-vendors' %}
     
  {{ content_for_header }}
  <style>
    #preview-bar-iframe { 
      display: none !important 
    }
  </style>

  {{ 'paymentfont.scss.css' | asset_url | stylesheet_tag }}
      
  {% render 'shogun-head' %}
  {% include "loyaltylion" %}

  {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
  {%- assign time_now = 'now' | date: '%s' %}
  {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
  {%- assign diffSeconds = time_now | minus: yotpo_live_time %}
  {%- if yotpo_offload_content == 'yes' and diffSeconds < 86400 -%}
  {{ 'yotpo-full-css.css' | asset_url | stylesheet_tag }}
  {%- endif -%}


</head>
<body class="o-body" data-body>
  
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQR9X2N"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  {% include 'theme-header' %}
  <main class="o-main" data-main>
    {% include 'component-welcome' %}
    {{ content_for_layout }}
    <div class="c-overlay c-overlay--isInactive" data-overlay></div>
  </main>
  {% include 'theme-footer' %}
  {% include 'widget-bundle' %}
  {% include 'widget-trial' %}
  {% include 'widget-cart' %}
  {% include 'theme-scripts' %}
  {% render 'banana-stand-footer' %}

</body>
</html>
